@import "reset";


body{
    background: #f7f7f7;
}

.header {
    width: 100%;
    background: #e0e0e0;
    position: static;
    top: 0;
    left: 0;
    z-index: 999999999;
    min-width: 1263px;
}

.header .lenovo_logo {
    float: left;
    // width: 155px;
    width: 50px !important;
    height: 50px;
    transition: all .2s;
    position: absolute;
}

.header .lenovo_logo a {
    text-decoration: none;
    color: #000;
}

.header .lenovo_logo a img {
    height: 100%;
    border: 0;
    vertical-align: top;
}

// 头部导航
.header .header_nav {
    width: 100%;
    height: 50px;
    background: #fff;
    display: block;
}

.header .header_nav .content {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-left: 53px;
}

.header .header_nav .content .left {
    margin: 0;
}

.header .header_nav .content .left .lis {
    float: left;
    line-height: 49px;
    font-size: 15px;
    color: #8d8d8d;
    margin-right: 22px;
}

.header .header_nav .content .left .lis a {
    color: #8d8d8d;
}

.header .header_nav .content .right {}

.header .header_nav .content .right .right_login {
    float: right;
    height: 49px;
}

.header .header_nav .content .right .right_login .login {
    float: left;
    line-height: 50px;
    position: relative;
}

.header .header_nav .content .right .right_login .login .hd_login{
    text-decoration: none;
    color: #000;
}

.header .header_nav .content .right .right_login .login .hd_regist{
    text-decoration: none;
    color: #000;
}

.header .header_nav .content .right .right_login .login .vertical-line {
    border-left: 1px solid #b8b8b8;
    height: 11px;
    display: inline-block;
    margin: auto 2px;
}

.header .header_nav .content .right .right_login .login #head_bubble {
    display: inline;
    position: absolute;
    top: 32px;
    right: -30px;
    width: 157px;
    height: 33px;
    background: url(https://p2.lefile.cn/product/adminweb/2019/01/18/028da9e3-588c-4a8c-9ed7-e94a9c639a12.png) no-repeat;
    background-size: 157px 33px;
    text-align: center;
    line-height: 36px;
    font-style: normal;
    padding-right: 36px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    cursor: pointer;
}

.header .header_nav .content .right .right_login .login #head_bubble a {
    color: #ba9964;
    font-size: 12px;
}

.header .header_nav .content .right .right_login .login #head_bubble a img {
    position: absolute;
    right: 7px;
    top: 8px;
    border: 0;
    vertical-align: top;
}

.header .header_nav .content .right .right_login .phone {
    float: right;
    width: 30px;
    height: 50px;
    padding: 13.5px 0 13.5px 0;
    position: relative;
    box-sizing: border-box;
    margin-left: 20px;
}

.header .header_nav .content .right .right_login .phone img {
    width: 23px;
    height: 23px;
}

// 头部隐藏部分
.header .header_nav .content .right .right_login .phone .phone_hover {
    display: none;
    position: absolute;
    left: -100px;
    top: 50px;
    float: left;
    width: 198px;
    z-index: 100;
    background: #fff;
}

.header .header_nav .content .right .right_login .phone .phone_hover ul {
    border-radius: 5px;
    overflow: hidden;
}

.header .header_nav .content .right .right_login .phone .phone_hover ul li {
    border-bottom: 1px solid #efefef;
    height: 105px;
    padding: 12px 0 0 12px;
    box-sizing: border-box;
}

.header .header_nav .content .right .right_login .phone .phone_hover ul li div img {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.header .header_nav .content .right .right_login .phone .phone_hover ul li div .title {
    font-size: 16px;
    width: 80px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}

.header .header_nav .content .right .right_login .phone .phone_hover ul li div .title .name {
    color: #f10315;
    font-size: 13px;
    width: 80px;
    display: inline-block;
    margin-top: 10px;
}


// 登录界面

.regist {
    width: 358px;
    margin: 60px auto 140px;
    background-color: #fff;
    padding: 52px 249px 64px;

    .title {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .top {
        margin-top: 38px;
        margin-bottom: 14px;
        overflow: hidden;

        .person_regist {
            width: 358px;
            float: left;
            color: red;
            text-align: center;
            line-height: 22px;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .main {
        .regist_info_person {
            display: block;
            position: relative;

            .regist_item {
                position: relative;

                input {
                    width: 291px;
                    border: 1px solid #d6d6d6;
                    height: 48px;
                    line-height: 48px;
                    padding-left: 15px;
                    font-size: 14px;
                    color: #8c8c8c;
                    margin-bottom: 14px;
                    padding-right: 50px;
                }

                .icon-clear {
                    position: absolute;
                    right: 14px;
                    top: 17px;
                    width: 16px;
                    height: 16px;
                    // display: block;
                    background: url(../images/regist/ia_100000014.png) no-repeat 50%;
                    cursor: pointer;
                    display: none;
                }
            }

            .slider_person {
                margin-bottom: 14px;

                .ui-slider-wrap {
                    width: 358px;
                    height: 50px;
                    background-color: rgba(255, 255, 255, 0);
                    background: #e8e8e8;
                    position: relative;

                    .ui-slider-text {
                        line-height: 50px;
                        font-size: 14px;
                        color: rgb(66, 66, 66);
                        background-repeat: no-repeat;
                        background-position-x: 70%;
                        background-position-y: center;
                        width: 100%;
                        height: 100%;
                        font-family: 微软雅黑;
                        text-align: center;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }

                    .ui-slider-btn {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        background: #fff url(../images/regist/ia_100000017.png) no-repeat center;
                        position: absolute;
                        top: 0;
                        cursor: move;
                        text-align: center;
                        border: 1px solid #ccc;
                        box-sizing: border-box;
                    }

                    .ui-slider-bg {
                        height: 50px;
                        background-color: rgb(51, 204, 0);
                        width: 0;
                    }
                }
            }
        }

        .regist-error {
            height: 24px;
            line-height: 24px;
            font-size: 12px;
            color: #ef1c22;
            display: none;

            .icon-error {
                width: 15px;
                height: 15px;
                float: left;
                margin-top: 4px;
                background: url(../images/regist/ia_100000018.png) no-repeat 50%;
                background-size: cover;
            }

            .regist-msg {
                float: left;
                margin-left: 8px;
            }
        }

        .regist_button {
            width: 358px;
            height: 50px;
            line-height: 50px;
            display: block;
            background-color: #e22319;
            text-align: center;
            font-size: 14px;
            color: #fff;
            margin-top: 10px;
        }

        .regist_agreement {
            margin-top: 10px;
            line-height: 24px;
            font-size: 14px;
            color: #757575;

            .go_login {
                display: block;
                text-align: right;
                font-size: 14px;
                line-height: 14px;
                margin-top: 5px;

                .login {
                    color: #424242;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
            }
        }

    }
}